.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 위아래 중앙 */
  align-items: center;
  height: 100vh;
}

.form {
  background-color: rgb(133, 250, 211);
  width: 320px;
  padding: 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form > input,
.button {
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  padding: 10px;
  width: 100%;
}

.form h2 {
  text-align: center;
}

.button {
  background-color: #221a1a;
  color: white;
  cursor: pointer;
}
